page-home {
  a {
    color: white;
    text-decoration: none;
  }

  .primary-nav li {
    font-size: 22px;
  }

  h2 {
    color: rgba(2, 23, 37, 0.7);
    margin-top: 0rem; 
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-family: 'JFFlat-Regular', sans-serif;
    -moz-font-family: 'JFFlat-Regular', sans-serif;
    -ms-font-family: 'JFFlat-Regular', sans-serif;
    -o-font-family: 'JFFlat-Regular', sans-serif;
    font-family: 'JFFlat-Regular', sans-serif;
    font-weight: normal;
    font-size: 100%;
    background-color: white;
    direction: rtl;
    text-align: right;
  }
}
