
<ion-content>

  <section class="intro">
    <div class="intro-box">
      <img src="assets/images/lg-logo.png" alt="">
      <h1>دليلك الاول و مستشارك الخاص <br> في عالم الاسواق الماليه و التداول.</h1>
      <p>
        يقدم موقع بيت المال توصيات البيع والشراء للمستثمر في سوق الأسهم السعودية، من خلال مجموعة متميزة من الخبراء العالميين في هذا المجال، اعتمادا علي رؤية موقع بيت المال وقراءته الاحترافية لمعطيات السوق واتجاهاته وما قد يطرأ عليه من مؤثرات سلبية أو إيجابية
      </p>
    </div>
  </section>

  <main class="main-content">
    <div class="container">
      <section class="blocks">
        <div *ngIf="loggedIn == '1' && subscriber == '1' && package != '10'" class="block">
          <a href="recommend.html" class="absolut-link"></a>
          <h2>أحدث التوصيات</h2>
          <div *ngFor="let recommend of recentOurRecommendations; let i = index;">
              <div class="" id="results">
                <div class="rec_box">
                  <header class="equal_rec">
                    <h5 *ngIf="recommend.status == 0">جديد <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 1">رابح <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 2">وقف خسائر <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 3">البيع بقرب سعر الشراء <i class="fa fa-minus" aria-hidden="true"></i></h5>
                    <h5 *ngIf="recommend.status == 4">معدله <i class="fa fa-minus" aria-hidden="true"></i></h5>
                  </header>

                  <ul class="box_body">
                    <li>
                      <img src="assets/images/business.svg">
                      <strong>السهم:</strong>
                      <span>{{ recommend.recommendation_name }}</span>
                    </li>
                    <li>
                        <img src="assets/images/world.svg">
                      <strong> السوق : </strong>
                      <span>{{ recommend.country }}</span>
                    </li>
                    <li>
                        <img src="assets/images/maintenance.svg">
                      <strong> درجة الشرعية : </strong>
                      <span *ngIf="recommend.stock_type_id == '0'">شرعى قائمة الفوزان</span>
                      <span *ngIf="recommend.stock_type_id == '1'">شرعى قائمة الراجحى</span>
                      <span *ngIf="recommend.stock_type_id == '2'">شرعى قائمة البلاد</span>
                      <span *ngIf="recommend.stock_type_id == '3'">غير شرعى</span>
                    </li>
                    <li>
                        <img src="assets/images/analytics.svg">
                      <strong> القطاع : </strong>
                      <span>{{ recommend.sector }}</span>
                    </li>
                    <li>
                      <img src="assets/images/payment.svg">
                      <strong>سعر الشراء:</strong>
                       <span>{{ recommend.buyPrice }}</span>
                      </li>
                    <li>
                        <img src="assets/images/report.svg">
                      <strong>سعر البيع :</strong>
                      <span>{{ recommend.sellPrice }}</span>
                    </li>
                    <li>
                        <img src="assets/images/legal.svg">
                      <strong>سعر وقف الخسارة :</strong>
                       <span>{{ recommend.stopLoss }}</span>
                      </li>
                    <li>
                        <img src="assets/images/calendar.svg">
                      <strong>تاريخ الإنشاء :</strong>
                      <span>{{ recommend.created2_at }}</span>
                    </li>
                    <li>
                        <img src="assets/images/time.svg">
                      <strong> تاريخ اّخر تعديل : </strong>
                      <span>{{ recommend.updated2_at }}</span>
                    </li>
                    <li>
                        <span>{{ recommend.description }}</span>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          <a (click)="ourRecommendationsPage()" class="read-more">إقرأ المزيد</a>
        </div>
        <!-- //block -->
        <div *ngIf="loggedIn == '1'" class="block recom">
          <a href="recommend.html" class="absolut-link"></a>
          <h2>أحدث  التقارير</h2>
          <ul>
            <li *ngFor="let report of recentReports; let i = index;">{{ report.description }}</li>
          </ul>
          <a (click)="reportsPage()" class="read-more">إقرأ المزيد</a>
        </div>
        <!-- //block -->
        <div class="block recom">
          <a href="recommend.html" class="absolut-link"></a>
          <h2>تحليلات فنية</h2>
            <ul>
            <li *ngFor="let recommend of recentPublicRecommendations; let i = index;">
              {{ recommend.description }}
            </li>
          </ul>
          <a (click)="recommendationsPage()" class="read-more">إقرأ المزيد</a>
        </div>
      </section>
      <div *ngIf="loggedIn != '1'" class="subscribe">
        <a (click)="loginPage()">تسجيل الدخول لحسابك</a>
        <h3>أو</h3>
        <a (click)="RegisterationPage()">إشترك مجانا الأن
        </a>
      </div>
    </div>
  </main>

  <div class="user-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="user-modal-container">
      <!-- this is the container wrapper -->
      <ul class="switcher">
        <li><a href="#0">تسجيل دخول </a></li>
        <li><a href="#0">إنشاء حساب</a></li>
      </ul>

      <div id="login">
        <!-- log in form -->
        <form class="form">
          <p class="fieldset">
            <label class="image-replace email" for="signin-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="البريد الإلكترونى">
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace password" for="signin-password">Password</label>
            <input class="full-width has-padding has-border" [(ngModel)]='password' [ngModelOptions]="{ standalone :true}" id="signin-password" type="text" placeholder="كلمة المرور">
            <a href="#0" class="hide-password">اخفاء</a>
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">تذكرنى</label>
          </p>

          <p (click)="login()" class="fieldset">
            <input class="full-width" type="submit" value="تسجيل دخول">
          </p>
        </form>

        <p class="form-bottom-message"><a href="#0">نسيت كلمة المرور؟</a></p>
        <!-- <a href="#0" class="close-form">Close</a> -->
      </div>
      <!-- login -->

      <div id="signup">
        <!-- sign up form -->
        <form class="form">
          <p class="fieldset">
            <label class="image-replace username" for="signup-username">Username</label>
            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="إسم المستخدم">
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace email" for="signup-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="البريد الإلكترونى">
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace password" for="signup-password">Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="كلمة المرور">
            <a href="#0" class="hide-password">إخفاء</a>
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <input type="checkbox" id="accept-terms">
            <label for="accept-terms">موافق على  <a href="#0">الشروط و الأحكام</a></label>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="إنشاء حساب">
          </p>
        </form>

        <!-- <a href="#0" class="close-form">Close</a> -->
      </div>
      <!-- signup -->

      <div id="reset-password">
        <!-- reset password form -->
        <p class="form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
        <p class="form-message">نسيت كلمة المرور الخاصة بك؟ برجاء إدخال البريد الإلكترونى الخاص بك و سوف يصلك رابط تحديث كلمة المرور</p>
        <form class="form">
          <p class="fieldset">
            <label class="image-replace email" for="reset-email">E-mail</label>
            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="البريد الإلكرتونى">
            <span class="error-message">رسالة خطأ هنا!</span>
          </p>

          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Reset password">
          </p>
        </form>

        <p class="form-bottom-message"><a href="#0">عوده لتسجيل الدخول</a></p>
      </div>
      <!-- reset-password -->
      <a class="close-form">Close</a>
    </div>
    <!-- user-modal-container -->
  </div>
  <!-- user-modal -->

</ion-content>
